<nav class="navbar navbar-expand-lg navbar-green bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><h2 style="color: #198754;">Pergunte Aqui</h2></a>
      
        <form class="d-flex">
          <input class="form-control me-2" type="search"  aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>